.button {
  @apply p-2 bg-amber-500 m-0 text-white bg-amber-500 rounded-full font-bold text-center shadow-md;
}

.button:hover {
  @apply bg-amber-500 bg-white cursor-pointer text-amber-500 border-2;
}
