.button {
  @apply py-2.5 px-5 m-2 bg-amber-500 text-white bg-amber-500 rounded-full text-center shadow-md font-medium;
}

.button:hover {
  @apply bg-amber-500 bg-white cursor-pointer text-amber-500 border-2;
}
