.top-bar {
  @apply bg-slate-200 p-3 mb-3;
}

.fa-octopus-deploy {
  @apply text-xl px-1 m-1;
}

.fa-octopus-deploy:hover {
  @apply cursor-pointer text-amber-500;
}

.menu__title {
  @apply text-xl px-1 m-1;
}

/* likely in need of flattening, kept for reference discussion */
.menu {
  @apply flex justify-between;

  & .menu__left {
    @apply flex;

    & .menu__app-name {
      @apply px-2 font-extrabold;
    }
  }

  & .menu__right {
    & .menu__item {
      @apply px-2;
    }
  }
}
