.top-bar {
  @apply bg-slate-200 p-3 mb-3;
}

/* .top-bar__left {
   @apply flex flex-row;
} */

.menu {
  @apply flex;

  & .menu__app-name {
    @apply px-2 font-extrabold;
  }

  & .menu__right {
    /* @apply flex justify-end; */

    & .menu__item {
      @apply px-2;
    }
  }
}
