.pagination {
  @apply flex flex-col justify-center my-1 p-2 justify-between text-center;
}

.pagination__navigation {
  @apply flex-row p-2;
}
.pagination__numbers {
  @apply flex flex-row text-center justify-center p-1 pb-6 cursor-pointer text-blue-800;
}

.pagination__current-page {
  @apply text-black cursor-default px-2;
}

.pagination__arrows {
  @apply cursor-pointer text-blue-800 px-2;
}

.pagination__number {
  @apply px-2;
}
