.squid-page {
  @apply flex flex-col justify-center mx-44;
}

.squid-list {
  @apply flex flex-col mx-10 my-1 px-10 justify-center text-center m-auto;
}

.reset-squid-button {
  @apply flex flex-col text-center w-40 mt-5 mx-auto whitespace-pre;
}
