.squid-list-tile {
  @apply my-2 bg-amber-200 py-5 px-4 flex flex-row justify-between rounded;
}

.squid_attributes {
  @apply text-left;
}

.squid_attributes__name {
  @apply pb-1;
}

.squid-attribute {
  @apply flex;
}

.squid-attribute__key {
  @apply font-semibold pr-2;
}

.squid-list-tile__image {
  @apply h-28 w-36 flex self-end rounded-md;
}
